.appBox {
  border: 2px solid black;
  margin-top: 50px;
  margin-left: 150px;
  max-width: 630px;
}

.Search {
  margin-top: 20px;
}

.CityDescription {
  color: #70757a;
}

ul {
  list-style: none;
  padding: 0;
}

.cityName {
  color: black;
  opacity: 0.9;
  font-size: 30px;
}
