.appBox {
  border: 2px solid black;
  margin-top: 50px;
  margin-left: 150px;
  max-width: 630px;
}

.Search {
  margin-top: 20px;
}

.CityDescription,
.WeatherDescription,
h2 {
  color: #70757a;
}

h1 {
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
}

.cityName {
  color: black;
  opacity: 0.9;
  font-size: 40px;
}

h1 {
  display: inline-block;
  font-size: 80px;
}

.image {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.Temperature {
  display: inline-block;
}

.Weather {
  display: flex;
  vertical-align: middle;
}

.Forecast {
  margin: 20px 0 5px 0;
  padding: 0;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

.ForecastTemp {
  margin-bottom: 40px;
}

footer {
  margin-left: 150px;
}
